name: coverage-tests_python

on:
  # Permit calling trigger
  workflow_call:
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        # Double quote for version is needed otherwise 3.10 => 3.1
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        # See the list here: https://github.com/actions/runner-images#available-images
        os: [ubuntu-22.04, ubuntu-24.04, windows-2022, windows-2025, macos-14, macos-15, macos-15-intel, macos-26]
        exclude:
          - os: macos-14
            python: "3.9"
          - os: macos-15
            python: "3.9"
          
    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python}}

    - name: Install swigex0
      run: |
        python -m pip install --upgrade pip
        python -m pip install swigex0

    - name: Run the python test
      run: |
        python tests/py/testFibo.py
