name: coverage-tests_r

on:
  # Permit calling trigger
  workflow_call:
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        # Last releases from here https://cran.r-project.org/src/base/R-4/
        r_version: [4.2.3, 4.3.3, 4.4.3, 4.5.2]
        # See the list here: https://github.com/actions/runner-images#available-images
        os: [ubuntu-22.04, ubuntu-24.04, windows-2022, windows-2025, macos-13, macos-14, macos-15, macos-15-intel, macos-26]

    steps:
    - uses: actions/checkout@v4

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{matrix.r_version}}

    - name: Install swigex0
      run: Rscript -e "install.packages(c('swigex0'), repos='https://soft.mines-paristech.fr/cran/', dependencies = TRUE)"

    - name: Run the r test
      run: |
        Rscript tests/r/testFibo.r
