name: publish_r_macos

on:
  # Permit calling the workflow from outside (https://github.com/actions/runner/discussions/1884)
  workflow_call:
    inputs:
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: true
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: false

env:
  CMAKE_BUILD_TYPE : Release
  BUILD_DIR : build
  SWIG_ROOT : ${{github.workspace}}/swig

jobs:
  build:
    runs-on: ${{matrix.arch.os}}
    strategy:
      matrix:
        # Last releases from here https://cran.r-project.org/src/base/R-4/
        r_version: [4.2.3, 4.3.3, 4.4.3, 4.5.2]
        # Only one arm64 and one x86_64 Mac OS version are needed
        arch: [
            {ar: x86_64, os: macos-15-intel, pat: /usr/local},
            {ar: arm64,  os: macos-26, pat: /opt/homebrew},
         ]

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        brew install llvm
        brew install bison
        echo "$(brew --prefix bison)/bin" >> $GITHUB_PATH

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{matrix.r_version}}

    - name: Install the customized SWIG from source
      uses: fabien-ors/install-swig-unix-action@v1
      with:
        swig-root: ${{env.SWIG_ROOT}}
        generator: "Unix Makefiles"

    - name : Configure build directory
      run : |
        cmake \
          -B${{ env.BUILD_DIR }} \
          -DBUILD_PYTHON=OFF \
          -DBUILD_R=ON \
          -DSWIG_EXECUTABLE=${{env.SWIG_ROOT}}/bin/swig

    - name : Build the package and save generated file name in the environment
      run : |
        cmake --build ${{env.BUILD_DIR}} --parallel 3 --target r_install
        echo "MY_PKG=$(ls ${{env.BUILD_DIR}}/r/${{env.CMAKE_BUILD_TYPE}}/swigex0_*.tgz)" >> "$GITHUB_ENV"

    - uses: actions/upload-artifact@v4
      # Use specific artifact identifier for publishing all versions
      with:
        name: macos-r-package-${{matrix.arch.os}}-${{matrix.r_version}}
        path: ${{env.MY_PKG}}

  test:
    needs: build
    runs-on: ${{matrix.arch.os}}
    strategy:
      matrix:
        # Last releases from here https://cran.r-project.org/src/base/R-4/
        r_version: [4.2.3, 4.3.3, 4.4.3, 4.5.2]
        arch: [
            # Keep only two (old) version of MacOS (two architectures)
            {ar: arm64,  os: macos-14, pat: /opt/homebrew},
            {ar: x86_64, os: macos-15-intel, pat: /usr/local},
          ]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: macos-r-package-${{matrix.arch.os}}-${{matrix.r_version}}

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{matrix.r_version}}

    - name: Install R package
      run: Rscript -e "install.packages(\"$(ls *.tgz)\", repos=NULL, type='source')"

    - name: Test installed R package
      run: |
        Rscript -e "library('swigex0')"
        Rscript tests/r/testFibo.r

  publish:
    needs: test
    if: ${{inputs.dry_publish == false}}

    # Only ubuntu can upload via ssh
    runs-on: ubuntu-latest

    steps:
    # Publish packages to our CRAN
    - uses: fabien-ors/cran-publish-action@v4
      with:
        host: ${{secrets.CG_HOST}}
        username: ${{secrets.CG_USR}}
        password: ${{secrets.CG_PWD}}
        repo-path: "/var/www/html/cran"

    # Delete the artifacts (for freeing storage space under github)
    - uses: geekyeggo/delete-artifact@v5
      with:
        name: macos-r-package-*
